.modal-ticket-id {
        text-align: center;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: bold;
        color: #f0f0f0;
        padding-bottom: 20px;
        border-bottom: 1px solid #47d9a8;
}

.modal-customer-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        font-size: 14px;
        color: #f0f0f0;
}

.modal-customer-name {
        text-align: left;
}

.modal-created-at {
        text-align: right;
}

.modal-remark-form {
        margin-bottom: 20px;
        /* space before button */
}

.modal-button-container {
        text-align: center;
}